*{
    margin:0;
    padding:0;
}
.container{
    width:100%;
    height:100vh;
    background-image:url('6.jpg/');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing:border-box;
}


.header{
    height: 15%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position:relative;
}



.Logo{
    width: 200px;
    cursor:pointer ;
}



.navbar{
    text-align: center;
    flex: 1;
}


.navbar a{
    padding: 6px 20px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size:20px ;
    font-weight: bold;
}



.btn{
    cursor: pointer;
    color: #CC0052;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 10px  30px;
    border: 2px solid #003333;
    background: transparent;
    text-decoration: none;
    text-align:center ;
    font-width:bold;
    margin: 40px 8px;
}



.content{
    text-align:center ;
    margin-top: 12%;
    
}




.content h1{
    font-size: 80px;
    color: white;
}




.btn:hover{
    color:#000;
    background-color: #fff;
}




.btn a:hover{
    color: #000;
}



.btn a:visited{
    background-color: #fff;
    color: #CC0052;
}



.btn a:link{
    text-decoration: none;
}

